@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Russo+One|Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


body {
    max-width: 980px;
    margin: auto;
}

header .logo {
    background-image: url(../img/logo-build.jpeg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header .logo h1 {
    height: 120px;
}

header .logo h1 a {
    color: #d2f4f4;
    font-family: Abril Fatface, sans-serif;
    font-size: 7rem;
    text-decoration: none;
    transition: 2s;
}

header .logo h1 a:hover {
    font-size: 8rem;
    color: #d2f4f4;
}

header nav {
    background-color: white;
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    border: #90dba2 solid 3px;
    border-top: none;
    margin: 0;
    padding: 5px;
}

header nav a {
    text-decoration: none;
    color: #013b84;
    font-family: Vollkorn,sans-serif;
}

header nav a:hover {
    color: red;
    text-decoration: underline;
}
article {
    font-family: Vollkorn, sans-serif;
    font-size: 1.1rem;
}

article h2 {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: 30px;
    color: #013b84;
}

article h3 {
    font-size: 2rem;
    text-align: center;
    color: #013b84;
}

section .about-company {
    display: grid;
    grid-template-areas: "text content-foto"
                         "content-foto-2 text-2"
                         "text-3 text-3";
}

section .about-company .text {
    grid-area: text;
    padding: 10px;
}
section .about-company .content-foto {
    grid-area: content-foto;
    padding: 10px;
}

section .about-company .content-foto img {
    max-width: 450px;
    border-radius: 10px;
    border: 3px solid #90dba2;
}

section .about-company .text-2 {
    grid-area: text-2;
    padding: 10px;
}
section .about-company .content-foto-2 {
    grid-area: content-foto-2;
    padding: 10px;
}

section .about-company .content-foto-2 img {
    max-width: 500px;
    border-radius: 10px;
    border: 3px solid #90dba2;
}

section .about-company .text-3 {
    grid-area: text-3;
    padding: 10px;
}

section .project-1 {

}

article .objects-for-sale {
    text-align: center;
}

article .objects-for-sale {
    font-size: 2rem;
    color: #013b84;
}

article .objects-for-sale img {
    width: 600px;
}

article .objects-for-sale .object-lviv {
    
}

article .objects-for-sale .object-kyiv {
    
}

article .objects-for-sale .object-dnipro {
    
}

article .objects-for-sale img:hover {
    -webkit-transform: scale(2);
    transform: scale(1.2);
    transition: 1s;
}

footer {
    background-color: #d9ddda;
    border: 2px solid #90dba2;
    border-radius: 5px;
    margin-top: 50px;
}

footer button {
    font-size: 1.5rem;
    color: #525354;
    margin: 20px;
    border-radius: 5px;
}
footer button:hover {
    background-color: #ed9261;
}

footer .menu {
    text-align: center;
}

footer .menu a {
    text-decoration: none;
    color: #565554;
}

@media (max-width: 1030px) {
  section .about-company {
      display: grid;
      grid-template-areas: "text"
                           "content-foto"
                           "text-2"
                           "content-foto-2"
                           "text-3";
  }
}


@media (max-width: 700px) {
  header .logo h1 a {
      font-size: 5rem;
  }
  header .logo h1 a:hover {
      font-size: 6rem;
  }
  article .objects-for-sale img {
      width: 500px;
  }
}

@media (max-width: 600px) {
  header .logo h1 a {
      font-size: 4rem;
  }
  header .logo h1 a:hover {
      font-size: 5rem;
  }
  header nav {
      display: grid;
      grid: 52px / auto auto;
      grid-gap: 20px;
      border: none;
  }
  header nav a {
      padding: 1px 30px;
      border: 3px solid #91bcf2;
  }
  section .about-company .content-foto img {
      max-width: 400px;
  }
  section .about-company .content-foto-2 img {
      max-width: 400px;
  }
  article .objects-for-sale img {
      width: 430px;
  }
}

@media (max-width: 430px) {
  header .logo h1 a {
      font-size: 3rem;
  }
  header .logo h1 a:hover {
      font-size: 4rem;
  }
  header nav {
      display: grid;
      grid: 52px / auto;
      grid-gap: 10px;
      border: none;
      margin: 0;
  }
  header nav a {
      padding: 1px 80px;
  }
  section .about-company .content-foto img {
      max-width: 300px;
  }
  section .about-company .content-foto-2 img {
      max-width: 300px;
  }
  article .objects-for-sale img {
      max-width: 300px;
  }
}

