@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Russo+One|Vollkorn');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


body {
    max-width: 980px;
    margin: auto;
}

header .logo {
    background-image: url(../img/logo-build.jpeg);
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
header .logo h1 {
    height: 150px;
}

header .logo h1 a {
    color: #8bf9ca;
    font-family: Abril Fatface, sans-serif;
    font-size: 7rem;
    text-decoration: none;
    transition: 2s;
}

header .logo h1 a:hover {
    font-size: 9rem;
    color: #d2f4f4;
}

header nav {
    background-color: white;
    font-family: sans-serif;
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    border: black solid 3px;
    margin: 0px 60px;
    padding: 5px;
}

header nav a {
    text-decoration: none;
    color: black;
    font-family: Vollkorn,sans-serif;
}

header nav a:hover {
    color: red;
    text-decoration: underline;
}
article {
    font-family: Vollkorn, sans-serif;
    font-size: 1.1rem;
}

article h2 {
    font-size: 3rem;
    text-align: center;
    padding: 0;
    margin: 30px;
}

section {
    display: grid;
    grid-template-areas: "text content-foto"
                         "content-foto-2 text-2"
                         "text-3 text-3";
}

section .text {
    grid-area: text;
    padding: 10px;
}
section .content-foto {
    grid-area: content-foto;
    padding: 10px;
}

section .content-foto img {
    max-width: 450px;
    border-radius: 10px;
    border: 3px solid black;
}

section .text-2 {
    grid-area: text-2;
    padding: 10px;
}
section .content-foto-2 {
    grid-area: content-foto-2;
    padding: 10px;
}

section .content-foto-2 img {
    max-width: 500px;
    border-radius: 10px;
    border: 3px solid black;
}

section .text-3 {
    grid-area: text-3;
    padding: 10px;
}
article .best-button {
    
}
article h3 {
    font-size: 2.2rem;
    text-align: center;
}

article .objects-for-sale {
    display: grid;
    grid-template-areas: "objects-lviv objects-kyiv objects-dnipro";
    height: 450px;
}

article .objects-for-sale .objects-lviv {
    grid-area: objects-lviv;
}

article .objects-for-sale .objects-kyiv {
    grid-area: objects-kyiv;
}

article .objects-for-sale .objects-dnipro {
    grid-area: objects-dnipro;

}

article .objects-for-sale img {
    width: 280px;
}

article .objects-for-sale h5 {
    text-align: center;
    font-size: 2rem;
}

article .objects-for-sale img:hover {
    -webkit-transform: scale(2);
    transform: scale(1.5);
    transition: 1s;
}

footer {
    background-color: #c4c5c6;
    border: 2px solid grey;
    border-radius: 5px;
}

footer button {
    font-size: 1.5rem;
    color: #525354;
    margin: 20px;
    border-radius: 5px;
}
footer button:hover {
    background-color: #ed9261;
}

footer .menu {
    text-align: center;
}

footer .menu a {
    text-decoration: none;
    color: #565554;
}

@media (max-width: 900px) {
  section {
      display: grid;
      grid-template-areas: "text"
                           "content-foto"
                           "text-2"
                           "content-foto-2"
                           "text-3"
  }
}


@media (max-width: 700px) {
  header .logo h1 a {
      font-size: 5rem;
  }
  header .logo h1 a:hover {
      font-size: 6rem;
  }
}

@media (max-width: 600px) {
  header .logo h1 a {
      font-size: 4rem;
  }
  header .logo h1 a:hover {
      font-size: 5rem;
  }
  header nav {
      display: grid;
      grid: 52px / auto auto;
      grid-gap: 20px;
      border: none;
  }
  header nav a {
      padding: 1px 30px;
      border: 3px solid black;
  }
  header nav a:hover {
      border: 3px solid red;
      text-decoration: none;
      background-color: #f7f7d7;
  }
}

@media (max-width: 420px) {
  header .logo h1 a {
      font-size: 3rem;
  }
  header .logo h1 a:hover {
      font-size: 4rem;
  }
  header nav {
      display: grid;
      grid: 52px / auto;
      grid-gap: 10px;
      border: none;
      margin: 0;
  }
  header nav a {
      padding: 1px 80px;
  }
}

h6 {
    color: red;
    font-size: 1rem;
}